<style>
    .languageIcon {
        display:block;
        max-width:50px;
        max-height:25px;
        width:auto;
        height:auto;
        margin:5px;
    }
</style>

<div>
    <a href="@Url.Action("Index", "Home", new { lang = "en"})">
        <img class="navbar-right languageIcon" src="@Url.Content("~/Content/Images/Languages/usFlag.png")" />
    </a>
    <a href="@Url.Action("Index", "Home", new { lang = "es" })">
        <img class="navbar-right languageIcon" src="@Url.Content("~/Content/Images/Languages/mxFlag.png")" />
    </a>
</div>