<style>
    .languageIcon {
        display:block;
        max-width:50px;
        max-height:25px;
        width:auto;
        height:auto;
        margin:5px;
    }
</style>

<div class="">
    <a href="@Url.Action("English", "Home")">
        <img class="navbar-right languageIcon" src="@Url.Content("~/Content/Images/usFlag.png")" />
    </a>
    <a href="@Url.Action("Espanol", "Home")">
        <img class="navbar-right languageIcon" src="@Url.Content("~/Content/Images/mxFlag.png")" />
    </a>
</div>