@using AyudarXAyudar.Views.Home.Resources
@{
    ViewBag.Title = "Ayudar✕Ayudar";
}

<div class="jumbotron">
    <h1>
        @Index.Title
    </h1>
    <p class="lead">
        @Index.SubTitle
    </p>
    <p>
        <a href="@Url.Action("Index", "Pets")" class="btn btn-primary btn-lg">
            @Index.LearnMore »
        </a>
    </p>
</div>