@using AyudarXAyudar.Views.Home.Resources
@{
    ViewBag.Title = "Ayudar✕Ayudar";
}

<div class="jumbotron">
    <h1>
        @Index.Title
    </h1>
    <p class="lead">
        @Index.SubTitle
    </p>
    <p>
        @Html.ActionLink(@Index.LearnMore + " »", "Index", "Pets", 
            new { @class = "btn btn-primary btn-lg" })
    </p>
</div>